{block #head}
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/suggest.css" type="text/css">

	<script type="text/javascript" src="{$basePath}/js/jquery.bgiframe.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.suggest.js"></script>
	<script type="text/javascript" src="{$basePath}/js/suggestInput.js"></script>
{/block}

{block #content}

{widget testForm}
